<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/mdb.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<header class="header">
    <div class="container">
        <a href="" class="logo text-uppercase font-weight-bold">PETbot</a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/products">Shop</a></li>
            <li><a href="#careers">Careers</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a><i class="fa fa-search fa-2x" aria-hidden="true"></i></a></li>
            <li><a><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></a></li>
        </ul>
        <div>

        </div>

    </div>

</header>

<!--<div class="bg-header"></div>-->
<!--Carousel Wrapper-->

<div class="bg-header">
</div>
<div class="container slide-show">
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <img class="d-block w-50" src="/images/imgdemo5.png" alt="First slide">
                </div>
                <div class="carousel-caption title-slide-show w-50">
                    <h3 class="h3-responsive slow slideInDown animated font-weight-bold text-uppercase">CHAI NHỰA</h3>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical</p>
                    <a class="btn btn-dark flipInY animated" href="">Shopping Now</a>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-50" src="/images/imgdemo3.png" alt="Second slide">
                </div>
                <div class="carousel-caption title-slide-show w-50">
                    <h3 class="h3-responsive faster rotateInDownRight animated font-weight-bold text-uppercase">CHAI PET</h3>
                    <p class="fadeInLeft animated">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a class="btn btn-dark flipInY animated" href="">Shopping Now</a>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-50" src="http://nisepharm.com/pic/products/Pe_636029797664103722_HasThumb.png" alt="Third slide">
                </div>
                <div class="carousel-caption title-slide-show  w-50">
                    <h3 class="h3-responsive rotateInDownRight animated">HŨ NHỰA</h3>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical</p>
                    <a class="btn btn-dark flipInY animated" href="">Shopping Now</a>
                </div>
            </div>

        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
</div>
<!--/.Carousel Wrapper-->
<div class="container pr-top">
    <div class="box-title text-center">
       <i class="fa fa-star" aria-hidden="true"></i>
        <label> Top Sản Phẩm Bán Chạy</label>
    </div>
    <div class="row my-2">
        <div class="col-sm-3 pr-top-items">
            <div >
                <div class="img-box">
                    <img width="100%" src="https://scontent.fhan2-3.fna.fbcdn.net/v/t1.15752-9/50750980_375527383235930_9081875894066216960_n.png?_nc_cat=108&_nc_oc=AQnnsD4wVdTd66_z2Ewt24j6BP190K3v1BWosCyn0ELf3dJofMSDwgf-ARR6YlMFetg5_bV3DSQFf1dFGshEcSgb&_nc_ht=scontent.fhan2-3.fna&oh=1b5a5100d4a64da29ebe116f5e323e8c&oe=5CF70ABD" alt="">
                    <div class="btn-showmore text-center">
                        <a href="">Xem Nhanh</a>
                    </div>
                </div>
                <div class="m-2">
                    <h6 class="font-weight-bolder">Chai nhựa gì đó</h6>
                    <p class="font-weight-lighter">Lorem ipsum dolor sit.</p>
                </div>
            </div>

        </div>

        <div class="col-sm-3 pr-top-items">
            <div >
                <div class="img-box">
                    <img width="100%" src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.15752-9/49185120_429592640912167_5177089214218502144_n.jpg?_nc_cat=102&_nc_oc=AQmjvcshFpVHr-6PxdK494RJcCt-6U1cg4hVR2kWq3GTwko77Yor3u0LGirNPLDPKtzWZuBXE2YSCFNiEP3z-CUd&_nc_ht=scontent.fhan2-1.fna&oh=c6b6b3a0a9c047a30ec7c4a5951bdf5d&oe=5CC4F682" alt="">
                    <div class="btn-showmore text-center">
                        <a href="">Xem Nhanh</a>
                    </div>
                </div>
                <div class="m-2">
                    <h6 class="font-weight-bolder">Chai nhựa gì đó</h6>
                    <p class="font-weight-lighter">Lorem ipsum dolor sit.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 pr-top-items">
            <div >
                <div class="img-box">
                    <img width="100%" src="https://chainhuacaocap.com/wp-content/uploads/2016/08/chai-nhua-cao-cap-2.jpg" alt="">
                    <div class="btn-showmore text-center">
                        <a href="">Xem Nhanh</a>
                    </div>
                </div>
                <div class="m-2">
                    <h6 class="font-weight-bolder">Chai nhựa gì đó</h6>
                    <p class="font-weight-lighter">Lorem ipsum dolor sit.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 pr-top-items">
            <div >
                <div class="img-box">
                    <img width="100%" src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/50563409_553107125195879_3537891568193110016_n.jpg?_nc_cat=100&_nc_oc=AQlS-kybo82oQoiZCriGAbR6DG0mnJElitgMbXioI5ZFjbBPnaDzfY4HBybV-JN5LQdiKYUlF4ATnyndNieUtwB-&_nc_ht=scontent.fhan2-4.fna&oh=ec05eb5715dec8b07d9448e5bed03c18&oe=5CBBCE56" alt="">

                    <div class="btn-showmore text-center">
                        <a href="">Xem Nhanh</a>
                    </div>
                </div>
                <div class="m-2">
                    <h6 class="font-weight-bolder">Chai nhựa gì đó</h6>
                    <p class="font-weight-lighter">Lorem ipsum dolor sit.</p>
                </div>
            </div>
        </div>
    </div>
    


</div>

<div class="container content-homepage">
    <div class="box-title text-center">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
        <label> Chai Nhựa PET là gì?</label>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>
                Chai nhựa pet đạt chuẩn phải có kí hiệu PET/ PET 1 ở dưới đáy chai. Nhựa pet có tên đầy đủ là Polyethylene Terephthalate, còn gọi là PETE là một loại nhựa nhiệt dẻo khi nung đến nhiệt độ nóng chảy thì chảy mềm ra và khi hạ nhiệt độ thì đóng rắn lại. Khả năng tái sinh được nhiều lần chính là điểm nổi bật của nhựa nhiệt dẻo, tuy nhiên so về dặc tính cơ học thì không thể cao bằng khi đặt cạnh nhựa nhiệt rắn.
                Dưới đây là hình ảnh về các kí hiệu có thể thấy ở một số loại chai nhựa trong cuộc sống hằng ngày.
            </p>
            <p>Theo tiêu chuẩn Việt Nam TCVN 6096:2004, chất liệu PET chuyên sử dụng để đóng gói bao bì thực phẩm, nước giải khát. Nhờ vào đặc tính độ bền cơ học cao, trơ với môi trường thực phẩm, chống thấm khí O2 và CO2 tốt. Ở nhiệt độ 200 độ C hoặc -90 độ C, cấu trúc hóa học của mạch nhựa vẫn nguyên vẹn. Để đảm bảo các yếu tố kể trên còn giá trị, hạt nhựa để thổi gia công chai pet phải là nhựa nguyên sinh 100%, không pha lẫn tạp chất.
                Khi mua bình nhựa pet quý khách lưu ý thêm các yếu tố :
                Chai nhìn phải trong, các góc cạnh phải sắc nét, cứng cáp.
                Dưới đáy chai phải có kí hiệu PET rõ ràng, minh bạch.

            </p>
        </div>
        <div class="col-md-6">

            <img width="100%" src="https://chainhuadep.com/wp-content/uploads/2018/04/ki-hieu-tren-bao-bi-nhua.jpg" alt="">
        </div>
    </div>
</div>

<!--<header>-->
    <!--&lt;!&ndash;<div class="baner">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="d-flex justify-content-between align-items-center flex-wrap">&ndash;&gt;-->
                <!--&lt;!&ndash;<div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<img width="100px" src="/images/bg3.png" alt="">&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div style="width: 400px">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="search-box d-flex">&ndash;&gt;-->
                        <!--&lt;!&ndash;<input type="text" class="flex-grow-1">&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="fa fa-search" aria-hidden="true"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="header-phone">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="text">&ndash;&gt;-->
                        <!--&lt;!&ndash;<label>Support</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;<p>0969696969</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="shopping-cart-box">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="fa fa-shopping-cart" aria-hidden="true"></i>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span>1</span>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--<nav class="navbar navbar-expand-lg navbar-dark primary-color">-->
            <!--<a class="navbar-brand" href="#">Navbar</a>-->
            <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"-->
                    <!--aria-expanded="false" aria-label="Toggle navigation">-->
                <!--<span class="navbar-toggler-icon"></span>-->
            <!--</button>-->
            <!--<div class="collapse navbar-collapse" id="navbarNav">-->
                <!--<ul class="navbar-nav">-->
                    <!--<li class="nav-item active">-->
                        <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
                    <!--</li>-->
                    <!--<li class="nav-item">-->
                        <!--<a class="nav-link" href="#">Features</a>-->
                    <!--</li>-->
                    <!--<li class="nav-item">-->
                        <!--<a class="nav-link" href="#">Pricing</a>-->
                    <!--</li>-->
                    <!--<li class="nav-item">-->
                        <!--<a class="nav-link disabled" href="#">Disabled</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->

    <!--</nav>-->
    <!---->



<!-- Site footer -->
    <footer class="site-footer border-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Về chúng tôi</h6>
                <p class="text-justify">PETBot là một trong những doanh nghiệp nổi tiếng tham gia vào
                    sản xuất, cung cấp và xuất khẩu nhiều loại Chai PET / PP / PC. Các
                    công ty có các đơn vị sản xuất hiện đại của chai PET.
                    Họ có nhà máy sản xuất chai PET. Có sẵn ở dạng tùy chỉnh, máy của họ
                    được sử dụng bởi một số công ty sản xuất để làm nước uống đóng gói,
                    hóa chất gia dụng, dược phẩm, dầu ăn, rượu, chăm sóc thỏ, thuốc trừ sâu, vv</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Sản Phẩm</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/category/c-language/">Chai nhựa</a></li>
                    <li><a href="http://scanfcode.com/category/front-end-development/">Hũ nhựa PET</a></li>
                    <li><a href="http://scanfcode.com/category/back-end-development/">Chai NHựa Tiếp</a></li>
                    <li><a href="http://scanfcode.com/category/java-programming-language/">Hũ Nhữa Cái Nữa</a></li>
                    <!--<li><a href="http://scanfcode.com/category/android/">Android</a></li>-->
                    <!--<li><a href="http://scanfcode.com/category/templates/">Templates</a></li>-->
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Contact</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/about/"><i class="fa fa-home" aria-hidden="true"></i><span class="ml-2">Hà Nội</span></a></li>
                    <li><a href="http://scanfcode.com/contact/"><i class="fa fa-envelope" aria-hidden="true"></i><span class="ml-2">petbot@gmail.com</span></a></li>
                    <li><a href="http://scanfcode.com/contribute-at-scanfcode/"><i class="fa fa-phone" aria-hidden="true"></i><span class="ml-2">0123456789</span></a></li>
                    <!--<li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>-->
                    <!--<li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>-->
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by
                    <a href="#">kanpTeam</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/js/lib/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/lib/popper.min.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/lib/mdb.min.js"></script>
<script type="text/javascript" src="/js/myjs.js"></script>
</body>
</html>

